###############################################################################
#
# Copyright (C) 2019
# ASTRON (Netherlands Institute for Radio Astronomy) <http://www.astron.nl/>
# P.O.Box 2, 7990 AA Dwingeloo, The Netherlands
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
###############################################################################

# Author:
# . Daniel van der Schuur
# Purpose:
# . Config file for use with the RadioHDL tool flow.

hdl_lib_name = common_pkg
hdl_library_clause_name = common_pkg_lib
hdl_lib_uses_synth = 
hdl_lib_uses_sim = 
hdl_lib_technology = 

synth_files =
    common_pkg.vhd
    common_str_pkg.vhd
    common_lfsr_sequences_pkg.vhd

test_bench_files = 
    tb_common_pkg.vhd

regression_test_vhdl = 
    
[modelsim_project_file]
modelsim_copy_files =

[quartus_project_file]

